// Common colors
$white: #ffffff;
$off-white: #efefef;
$black: #000000;
$orange: #ff932b;
$red: #f3294d;
$twitterBlue: #00acee;
$green: #88f15b;
$textBody: #777777;
$textHeader: #333333;
$background-color: #0f1216;