@font-face {
  font-family: 'Sketch';
  src: local('HelloEtchASketch.ttf'), url('HelloEtchASketch.ttf') format('truetype');
}

body {
  font-family: 'Sketch';
  font-size: 80px;
}

.images {
  .concept-name { font-size: 48px; }

  .image-block {
    display: inline-block;

    img {
      display: block;
      width: 200px;
    }
    span {
      font-size: 18px;
      text-align: left;
    }
  }
}