$prefixClass: rc-slider;

$disabledColor: #ccc;
$border-radius-base: 100px;
$primary-color: #2db7f5;
$tooltip-color: $white;
$tooltip-bg: rgba(#666, 4%);
$tooltip-arrow-width: 4px;
$tooltip-distance: $tooltip-arrow-width+4;
$tooltip-arrow-color: $tooltip-bg;
$ease-out-quint      : cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint       : cubic-bezier(0.755, 0.05, 0.855, 0.06);

@mixin borderBox {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari

  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //  remove tap highlight color for mobile safari
  }
}

.rc-slider {
  position: relative;
  height: 14px;
  padding: 5px 0;
  width: 100%;
  border-radius: $border-radius-base;
  touch-action: none;
  @include borderBox;

  &-rail {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: $border-radius-base;
    background-color: $off-white;
  }

  &-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: $border-radius-base;
    background-color: $primary-color;
    transition: none;
  }

  &-handle {
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
    cursor: -webkit-grab;
    margin-top: -5px;
    cursor: grab;
    border-radius: $border-radius-base;
    background-color: $white;
    touch-action: pan-x;
    transition: none;

    &-dragging {
      border-color: rgba($primary-color, 20%);
      box-shadow: 0 0 0 5px rgba($primary-color, 100%);
    }

    &:focus {
      outline: none;
    }

    &-click-focused:focus {
      border-color: rgba($primary-color, 50%);
      box-shadow: unset;
    }

    &:hover {
      border-color: rgba($primary-color, 20%);
    }

    &:active {
      border-color: rgba($primary-color, 20%);
      box-shadow: 0 0 5px rgba($primary-color, 20%);
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }
  }

  &-mark {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    font-size: 12px;
  }

  &-mark-text {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: #999;

    &-active {
      color: #666;
    }
  }

  &-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
  }

  &-dot {
    position: absolute;
    bottom: -2px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border: 2px solid $off-white;
    background-color: $white;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    &-active {
      border-color: rgba($primary-color, 50%);
    }
    &-reverse {
      margin-left: 0;
      margin-right: -4px;
    }
  }

  &-disabled {
    background-color: $off-white;

    .rc-slider-track {
      background-color: $disabledColor;
    }

    .rc-slider-handle, .rc-slider-dot {
      border-color: $disabledColor;
      box-shadow: none;
      background-color: $white;
      cursor: not-allowed;
    }

    .rc-slider-mark-text, .rc-slider-dot {
      cursor: not-allowed!important;
    }
  }
}

.rc-slider-vertical {
  width: 14px;
  height: 100%;
  padding: 0 5px;

  .rc-slider {
    &-rail {
      height: 100%;
      width: 4px;
    }

    &-track {
      left: 5px;
      bottom: 0;
      width: 4px;
    }

    &-handle {
      margin-left: -5px;
      touch-action: pan-y;
    }

    &-mark {
      top: 0;
      left: 18px;
      height: 100%;
    }

    &-step {
      height: 100%;
      width: 4px;
    }

    &-dot {
      left: 2px;
      margin-bottom: -4px;
      &:first-child {
        margin-bottom: -4px;
      }
      &:last-child {
        margin-bottom: -4px;
      }
    }
  }
}

.rc-slider-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: visible;

  @include borderBox;

  &-hidden {
    display: none;
  }

  &-placement-top {
    padding: $tooltip-arrow-width 0 $tooltip-distance 0;
  }

  &-inner {
    padding: 6px 2px;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 1;
    color: $tooltip-color;
    text-align: center;
    text-decoration: none;
    background-color: $tooltip-bg;
    border-radius: $border-radius-base;
    box-shadow: 0 0 4px #d9d9d9;
  }

  &-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
  }

  &-placement-top &-arrow {
    bottom: $tooltip-distance - $tooltip-arrow-width;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: $tooltip-arrow-color;
  }
}