// Import Gudea Font
@import url('https://fonts.googleapis.com/css?family=Gudea&display=swap');

// @font-face {
//   font-family: 'Gudea', sans-serif;
//   src: url('Gudea-Regular.eot'); 
//   src: url('Gudea-Regular.eot?#iefix') format('embedded-opentype'),
//      url('Gudea-Regular.ttf')  format('truetype');
// }

* {
  font-family: 'Gudea', sans-serif;
  font-size: 14px;
  color: #fff;
  -moz-user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  letter-spacing: 1px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

p {
  font-size: 13px;
  line-height: 21px;
}